
.product-list {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.back {
  display: flex;
  align-items: center;
  gap: 10px;
}


.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-list h2 {
  font-size: 24px;
}

.product-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.product-id{
  padding: 5px;
  font-size: 16px;
}

.product-title{
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.product-price {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  color: #007bff;
  text-align: center;
}

.product-stock {
  font-size: 14px;
  padding: 5px;
  color: #666;
}

.button{
  text-decoration: none;
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s
}

.titles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 0px;
}

.title{
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

