@media (width <= 475px){
  .cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Blinker', sans-serif;
  }

  .items-summary-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-between;
  }

  .cart-items {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
  }

  .title-cart{
    padding: 5px;
  }

  .item-container {
    border-top: 1px solid black;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
  }

  .img-product-cart {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .item-container p {
    font-family: 'Blinker', sans-serif;
  }

  .item-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }

  .quantity-price-cart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }

  .items-q{
    display: flex;
    padding: 5px;
    background-color: cornflowerblue;
    border-radius: 5px;
  }

  .summary {
    background-color: cornflowerblue;
    border-radius: 5px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .button-checkout {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .button-checkout:hover{
    background-color: black;
    color: #fff;
    transition: all ease 0.5s;
  }

  #quantity {
    display: flex;
    gap: 10px;
  }

  .button-q {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (width >= 769px){
  .cart-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }
  .header-cart{
    text-align: center;
  }

  .arrow{
    display: none;
  }

  .title-cart{
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .label-empty-cart {
    margin-top: 200px;
    font-size: 25px;
    align-self: center;
  }

  .items-summary-container{
    display: flex;
    gap: 10px;
    height: 100%;
    padding: 10px;
    justify-content: space-around;
  }

  .cart-items{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .item-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    justify-content: space-around;
    border-radius: 5px;
    border: 1px solid grey;
  }

  .item-info{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    width: 70%;
    justify-content: space-between;
  }

  .img-title-cart{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .quantity-price-cart{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    justify-content: space-around;
  }

  .item-info p, span {
    padding: 5px;
  }

  .items-q{
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
  }

  .button-q{
    cursor: pointer;
  }


  .img-product-cart{
    width: 120px;
    object-fit: contain;
  }

  .button-cart-delete{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .summary{
    margin-top: 40px;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: cornflowerblue;
    border-radius: 5px;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
  }

  .title-summary-cart{
    padding: 5px;
    border-bottom: 1px solid black;
  }

  .items-summary-cart{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  .total-summary-cart{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    color: white;
  }

  .error-message{
    text-align: center;
    font-size: 16px;
  }

  .button-checkout{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
  }

  .button-checkout:hover{
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: black;
    color: #fff;
  }
}